/*
*Personal Webpage
*Bootcamp neueFische
*/

*,
*::before,
*::after
* {
	box-sizing: border-box;
	padding: 0;
}

html {
	scroll-behavior: smooth; /*funktioniert noch nicht*/
	font-size: 100%;
}

/* Layout* * * * * * */
body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	color: black;
	background-color: darkgrey;
	margin: 0 16px;
}

main {
	width: 100%;
}

.main-header {
	position: sticky;
	z-index: 2;
	background-color: darkgrey;
	top: 10px;
	border-radius: 10px;
}

footer {
	background: #fff;

}
/* Navigation * * * * * * * * * noch in Arbeit */

.navigation{
	margin: 20px 0 0;
}

.navigation ul li{
	display: inline;
}

.navigation a{
	color: #333;
	text-decoration: none;
	padding: 7px 20px;
	margin: 10px 10px;
	border: 1px solid #333;
	border-radius: 8px;

}

.navigation a:hover {
	color: #333;
	background: #fff;
}

/* Anker* * * * funktioniert noch nicht*/
#test {
	margin-top: 100vh;
	height: 100vh;
}

/* Card *//* Auto Layout -noch in Arbeit */
.card__header{
}
.card__box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 32px;
}

.card__area{
	padding: 16px;
	font-size: 14px;
	line-height: 20px;
	background: #fff;
	color: #202020;
	box-shadow: 0px 0px 16px rgba(0,0,0,0.05);
	border-radius: 8px;
}

.card__image {
	width: 128px;
	height: 128px;
	border-radius: 8px;
}

.card__headline {
	text-transform: uppercase;
	font-weight: bold;
	width: 62px;
	height: 19px;
	color: #202020;
	letter-spacing: 0.05em;
}
.link{
	font-size: 12px;
	line-height: 14px;
	text-decoration: none;
}

.link:hover{
	text-decoration: underline;
}

.link--light{
	color: #6F6F6F
}

.icon-button {
	/* arrow-right-circle */

	display: flex;
	align-items: center;
	justify-content: center;
	color: cornflowerblue;
	position: static;
	font-size: 24px;
	width: 48px;
	height: 48px;
	left: 0px;
	margin: 0 0 -10px -10px;
	padding: 0;
	border: 0;
	border-radius: 50%;
	background: none;
}
/*an dieser Stelle den Button unsichtbar vergrößern Stichwort: accecibilty */
.icon-button:hover {
	color:red;
}

.icon-button: active {
	background: darkblue;
}

.icon-button_icon {
	height: 1em;
	width: 1em‚;
}

